* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: Arial, sans-serif;
    color: #222;

}

header{

    background-color: rgb(0, 0, 0);

   
}

.navbar {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 20px 10%;

}

.logo {

    width: 120px;

}

/* Dropdown container */
.dropdown {
    position: relative;
}

/* Hide menu by default */
.dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;

    list-style: none;
    margin: 0;
    padding: 0;

    min-width: 180px;

    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}

/* Links */
.dropdown-menu li a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: #333;
}

/* Hover colour */
.dropdown-menu li a:hover {
    background: #f2f2f2;
}

/* Show menu on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar > ul {

    display: flex;


    gap: 30px;

}

.navbar a {

    text-decoration: none;

    color: rgb(252, 252, 252);

    font-weight: bold;

}

.hero {

    height: 80vh;

    background-image:
        linear-gradient(rgba(0,0,0,.45),
                        rgba(0,0,0,.45)),
        url("../images/hero/hero.webp");

    background-size: cover;

    background-position: center;

    display: flex;

    justify-content: center;

    align-items: center;

    text-align: center;

    color: white;

}

.hero h1 {

    font-size: 4rem;

    margin-bottom: 15px;

}

.hero p {

    font-size: 1.4rem;

    margin-bottom: 30px;

}

.button {

    display: inline-block;

    background: white;

    color: black;

    padding: 15px 35px;

    border-radius: 8px;

    text-decoration: none;

    font-weight: bold;

    transition: .25s;

}

.button:hover {

    background: #ddd;

}

.about {

    width: min(600px,90%);

    margin: 80px auto;

    line-height: 1.6;

    letter-spacing: 0.5px;

}

.about h2{
    font-size: 34px;

    letter-spacing: 0.5px;
}

.about p {
    font-size: 20px;

    letter-spacing: 0.5px;
}
.categories {

    width: min(700px,90%);

    margin: 80px auto;

    line-height: 1.6;

    letter-spacing: 0.5px;
    

}

.categories h2 {

    font-size: 2.5rem;

    margin-bottom: 40px;

    text-align: center;

}



.categories h3 {

    font-size: 1.8rem;
    
    margin-bottom: 20px;
  

    

}

.categories p {

    line-height: 1.6;

    margin-bottom: 20px;
}


.cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.index-card{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
    transition: transform .2s ease;
    border-radius: 10px;
    text-align: center;
    
}

.index-card img{
    width: 100%;
    aspect-ratio: 1 / 1;   /* Makes the image square */
    object-fit: cover;     /* Crops instead of stretching */
    display: block;
    margin-bottom: 10px;
}

.index-card:hover {
    transform: translateY(-5px);
}


.photo-collection h1{
    font-size: 38px;
    letter-spacing: 2px;
    
}

.photo-collection p{
    font-size: 20px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.cards {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
    object-fit: cover;
    margin: auto 5rem auto 5rem;
    border-radius: 2rem;
}
.photo-collection {
    max-width: 900px;
    margin: 4rem auto;
    text-align: center;
    gap: 2rem;
}

.photo-collection img {
    width: 100%;
    max-width: 800px;
    height: 400px;
    object-fit: cover;
    display:block;
    border-radius: 12px;
    
    

}

.photo-collection h2 {
    margin: 1rem 0;
}

.photo-collection p {
    max-width: 700px;
    margin: 0 auto 1.5rem;
    
}

.gallery-button {

    display: inline-block;

    background: rgb(0, 0, 0);

    color: rgb(253, 253, 253);

    padding: 15px 35px 15px 35px;

    border-radius: 8px;

    text-decoration: none;

    font-weight: bold;

    transition: .25s;

    margin-bottom: 5rem;

}

collection-cards {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
    border-radius: 10px;
    text-align: center;
}


.collection-photos {
    max-width: 1000px;
    margin: 4rem auto;
    text-align: center;
    gap: 2rem;
    
}

.collection-photos img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    object-fit:cover;
    display:block;
    border-radius: 12px;
    margin-bottom: 5rem;
    

}
.collection-photos h1{
    font-size: 38px;
    letter-spacing: 2px;
    margin-bottom: 4rem;
    
}

.collection-photos p{
    font-size: 20px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}



.collection-photos h2 {
    margin: 1rem 0;
}

.collection-photos p {
    max-width: 700px;
    margin: 0 auto 1.5rem;
    
}


.h2about{
    text-align: center;
    margin-bottom: 5px;
}

.socialsi {
    color: white;
    font-size: 2rem;
    margin-top: 1rem;
    display: inline-block;
    transition: color 0.3s ease;
    width: auto;
    height: 50px;
    margin: 10px 10px 10px 10px;
}

.socialsi:hover {
    color: #E1306C;
}

.socialsf {
    color: white;
    font-size: 2rem;
    margin-top: 1rem;
    display: inline-block;
    transition: color 0.3s ease;
    width: auto;
    height: 50px;
    margin: 10px 10px 10px 10px;
}

.socialsf:hover {
    color: #1114df;
}


/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contact-heading h2{
text-align: center;
display: flex;
justify-content: center;
padding-top: 20px;
   
}

.contact-heading p{
    text-align: center;
    justify-content: center;
    padding-bottom: 20px;
}

/* Style the container/contact section */
.contact-box {
  border-radius: 5px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
 
}


.contact-box p{
    margin-bottom: 10px;
    margin-top: 10px;
}




footer {

    text-align: center;

    padding: 40px;

    background: #222;

    color: white;


}

.hamburger {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

@media (max-width: 768px) {

    .hamburger {
        display: block;
    }

    .navbar > ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #000;
        padding: 20px 0;
    }

    .navbar > ul.active {
        display: flex;
    }
}